{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' rel="stylesheet" href="{% static 'main/css/style.css' %}" />
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul class="header">
                <li class="header"><a href='{% url "main" %}' class="a_logo">TEA231-Films</a></li>
                <ul class="header">
                    {% if auth != True %}
                        <li class="account_buttons"><a href="{% url 'register' %}" class="a_logo">Регистрация</a></li>
                        <li class="account_buttons">/</li>
                        <li class="account_buttons"><a href="{% url 'autorization' %}" class="a_logo">Авторизация</a></li>
                    {% endif %}
                        <img class='ava' src="{% static 'main/images/user_none.png' %}">
                </ul>
            </ul>
        </nav>
    </header>

    <aside>
        <ul class="aside_ul">
            <li class="aside_li"><a class="aside_a" href="#">Фильмы</a></li>
            <li class="aside_li"><a class="aside_a" href="#">Сериалы</a></li>
            <li class="aside_li"><a class="aside_a" href="#">ТВ</a></li>
            <li class="aside_li"><a class="aside_a" href="{% url 'history' %}">Смотреть позже</a></li>
        </ul>
    </aside>
    
    <main>
        {% block main %}{% endblock %}
    </main>    

    <footer>
    </footer>
</body>
</html>