{% extends 'main/base.html' %}
    {% block head %}    
        <title> {{ film_data.name }}</title>
    {% endblock %}
    {% block main %}
        <div class="film_age_main">
            <div class="film_age">
                <img class='film_age' src="{{ film_data.cover.url }}">
                <div class="film_age_2">
                    <h1 class="film_age"> {{ film_data.name }}</h1>
                    <p class="film_age"> {{ film_data.description }}</p>
                </div>
            </div>
        
            <video class='video_film'  controls="controls">
                <source src="{{ film_data.video.url }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
            <form class="add_comment" action="/film/{{ film_data.pk }}/ " method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="add_comment">Отправить</button>
            </form>
            <div class="comments_in_age_film">
                {% for comment in comments %}
                    <div class="comments_film">
                        <p class="comments_film">{{ comment.text }}</p>
                    </div>
                {% endfor %}
                
            </div>
        </div>
        
    {% endblock %} 
