{% extends 'main/base.html' %}
{% load static %}

    {% block head %}
        <title>Главная страница</title>
    {% endblock %}

    {% block main %}
    <form class="search" action="{% url 'main' %}" method="post">
        {% csrf_token %}    
        {{ form }}
        <button class="search" type="submit" name="submit_button"><img class="search" src="{% static 'main/images/search.png' %}"></button>
    </form>

    <div class="content">

        <aside>
            <ul class="aside_ul">
                <li class="aside_li"><a class="aside_a" href="{% url 'main' %}">Все</a></li>
                <li class="aside_li"><a class="aside_a" href="{% url 'films' %}">Фильмы</a></li>
                <li class="aside_li"><a class="aside_a" href="{% url 'series' %}">Сериалы</a></li>
                <li class="aside_li"><a class="aside_a" href="{% url 'tv' %}">ТВ</a></li>
            </ul>
        </aside>
        
        <div class="films">
            {% for index in films_env %}
                <div class="film">
                    <h1 class="in_film">{{ index.name }}</h1>
                    <img class='in_film' src="{{ index.cover.url }}">
                    <a class='in_film' href="{% url 'film' index.pk %}"><button class="in_film">Смотреть</button></a>
                </div>
            {% endfor %}
        </div>
        
    </div>
    {% endblock %}
