{% extends 'main/base.html' %}
{% load static %}

    {% block head %}
        <title>Главная страница</title>
    {% endblock %}

    {% block main %}
    <div class="search">
        <input class="fake-editable" type="search">
        <button class="search" type="submit" name="submit_button"><img class="search" src="{% static 'main/images/search.png' %}"></button>
    </div>

    <div class="content">

        <aside>
            <ul class="aside_ul">
                <li class="aside_li"><a class="aside_a" href="#">Фильмы</a></li>
                <li class="aside_li"><a class="aside_a" href="#">Сериалы</a></li>
                <li class="aside_li"><a class="aside_a" href="#">ТВ</a></li>
                <li class="aside_li"><a class="aside_a" href="{% url 'history' %}">История</a></li>
            </ul>
        </aside>
        
        <div class="films">
            {% for index in films_env %}
                <div class="film">
                    <h1 class="in_film">{{ index.name }}</h1>
                    <img class='in_film' src="{% static 'main/images/pic.png' %}">
                    <a class='in_film' href="{% url 'film' index.pk %}"><button class="in_film">Смотреть</button></a>
                </div>
            {% endfor %}
        </div>
        
    </div>
    {% endblock %}